@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600);
@import url(font-awesome.min.css);
@font-face {
    font-family: 'supermarket';
    src: url('../fonts/supermarket-webfont.eot');
    src: url('../fonts/supermarket-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/supermarket-webfont.woff') format('woff'),  url('../fonts/supermarket-webfont.ttf') format('truetype'),  url('../fonts/supermarket-webfont.svg#rsubold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Start Style */
html {
    overflow-y: scroll;
}
body {
    background: url(../img/bg.png) center top no-repeat, url(../img/bg-pattern.jpg) fixed;
    border-top: 5px solid #f58324;
    color: #333;
    font-size: 0.875em;
    font-family: tahoma;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
h1 {
    font-size: 2.0em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1.0em;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 2em;
}
p {
    font-size: 1em;
    line-height: 1.5em;
}
a {
    text-decoration: none;
    color: #333;
}
em {
    font-style:italic;
}
ul {
    list-style:inside disc;
    padding:1em;
    line-height:2em;
}
ol {
    list-style:inside decimal;
    padding:1em;
    line-height:2em;
}

.clear {
    clear: both;
}
.sep {
    height: 1px;
    background: #f58324;
    width: 15%;
    border: none;
    margin: 1em 0;
    float: left;
}
/* Global Layout */

.container {
    width: 100%;
    clear: both;
}
.grey.container {
    background: url(../img/container-bg.jpg) center no-repeat #f5f5f5;
    overflow:hidden;
}
.content {
    background:#FFF;
    padding:15px;
    border:1px solid #ccc;
    margin-top:1em;
    overflow:hidden;
}
.wrapper {
    width: 960px;
    margin: auto;
}
.heading-title {
    padding: 10px 0;
    border-bottom: 1px dashed #645954;
}
.heading-title>h2 {
    font: normal normal 1.8em/1 'Open Sans', supermarket;
}

.page-title {
    padding: 1em 0;
    margin-bottom:1em;
    border-bottom: 1px solid #ccc;
    background:url(../img/bg.png) center;
}
.page-title>h2 {
    font: normal normal 1.8em/1 'Open Sans', supermarket;
}

#main-header {
}
.siteinfo {
    margin:0.5em;
}
.siteinfo>span {
    font:400 italic 1em 'Open Sans';
}
.siteinfo>span.facebookurl {
    float:right;
}
.siteinfo>span.facebookurl i {
    font-size:1.5em;
    margin-right:0.5em;
    line-height:1;
}
#logo {
    width: 100px;
    height: 89px;
    margin: 25px auto;
}
#main-nav {
    height: 40px;
    border-top: 1px dotted #766862;
    border-bottom: 1px dotted #766862;
}
.main-menu ul {
    padding:0;
    margin:0;
    list-style:none;
}
.main-menu>ul>li {
    float:left;
}
.main-menu>ul>li a {
    display:block;
    padding:5px 20px;
    height:30px;
    font:normal normal 18px/1.8em supermarket;
}
.main-menu>ul>li.current-menu-item>a, .main-menu>ul>li:hover>a {
    color:#f58324;
}
.main-menu>ul>li:hover .sub-menu {
    display:block;
}
.main-menu ul.sub-menu {
    display:none;
    background:#988982;
    position:absolute;
    z-index:999;
}
.main-menu ul.sub-menu a {
    color:#FFF;
}
.main-menu ul.sub-menu li:hover a {
    background:#766862;
}

#main {
    position: relative;
    height: 440px;
    width:960px;
    background: url(../img/main.jpg);
}
#main h6 {
    font: normal normal 18px supermarket;
}
#main h6>span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #645954;
    color: #FFF;
    text-align: center;
    padding: 5px;
    line-height: 1.2;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
#main h1 {
    font: 700 normal 2.8em 'Open Sans';
    color: #f58324;
}
#main h1>span {
    font: 400 italic 1em 'Open Sans';
    color: #333;
}
#main p {
    font: normal normal 18px supermarket;
}
.surgeryPrice-button {
    width: 80px;
    height: 80px;
    background: #9ddbdc;
    position: absolute;
    right: 0px;
    padding: 30px 30px;
    top: 10px;
    text-align: center;
    color: #333;
    font-size:20px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}
.surgeryPrice-button span {
    display: block;
    border-top: 1px solid #fff;
    padding-top: 0.5em;
    margin-top: 0.5em;
    font-size: 0.8em;
}
.greeting {
    width: 320px;
    padding-top: 100px;
}
/* Info */

.info {
    clear: both;
    margin-top: 1px;
    color: #FFF;
}
.info>div {
    padding: 10px;
    height: 60px;
    float: left;
}
.info h5 {
    font: normal normal 18px 'Open Sans', supermarket;
}
.info h5>strong {
    font-weight: 700;
}
.info>.left {
    width: 459px;
    margin-right: 1px;
    background: #645954;
    position: relative;
}
.info>.left .century-clinic {
    width: 70px;
    height: 70px;
    background: #f58324;
    position: absolute;
    left: -25px;
    padding: 20px 20px;
    top: -50px;
    text-align: center;
    color: #FFF;
    font: normal normal 18px 'Open Sans';
    -webkit-border-radius: 75px;
    border-radius: 75px;
}
.info>.left .century-clinic em {
    font-style: italic;
}
.info>.right {
    width: 460px;
    background: #f58324;
}
.info>.right .fa-phone {
    font-size: 2em;
    border: 2px solid #FFF;
    padding: 15px;
    margin: 0 15px 0 10px;
    width: 20px;
    height: 20px;
    line-height: 1;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    float: left;
}
/* News */

.services-box {
    background: #FFF;
}

/* News List */

.newsList {
    list-style:none;
    margin:0;
    padding:0;
}

.newsList figure.review {
    width:180px;
    height:120px;
    background:#FFF;
    border:1px solid #FFF;
    float:left;
    margin-right:2em;
}
.newsList li {
    overflow:hidden;
    margin:2em 0;
}
.newsList h5 {
    color:#f58324;
    font-weight:700px;
}
.newsList p {
    line-height:1.5em;
    height:4.5em;
    overflow:hidden;
}
figure.service {
    width:120px;
    height:120px;
    float:left;
    border:2px solid #FFF;
    margin-right:1em;

    -webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.2);
    box-shadow:2px 2px 3px rgba(0,0,0,0.2);

    -webkit-border-radius:60px;
    border-radius:60px;
}

/* News List Hor */

.newsList-hor {
    overflow:hidden;
    clear:both;
    list-style:none;
    margin:0;
    padding:0;
}
.newsList-hor figure.promotion {
    width:275px;
    height:150px;
    background:#eee;
}

.newsList-hor li {
    width:275px;
    float:left;
    padding:15px;
}
.newsList-hor h5 {
    color:#f58324;
    font-weight:700px;
}
.newsList-hor p {
    line-height:1.5em;
    height:4.5em;
    overflow:hidden;
}

.promotion {
    background:#FFF;
}

.facebook h2 {
    background:#4a66a0;
    display:block;
    padding:0.5em 1em;
    color:#FFF;
    font:400 normal 1.2em 'Open Sans';
}

/* Footer */
#main-footer {
    border-top:1px solid #e2dbd8;
    border-bottom:10px solid #f58324;
    overflow:hidden;
    margin-top:2em;
    padding:2em 0;
}
#main-footer h3 {
    font:normal normal 24px/2em supermarket;
    color:#f58324;
}
.footer-logo {
    float:left;
    margin-right:2em;
}
ul.bottom-link {
    list-style:none;
    font:400 italic 1em/2em 'Open Sans';
}

/* Grid */
[class*="grid-"] {
    float: left;
    padding: 15px;
}
.grid-320 {
    width:290px;
}
.grid-480 {
    width: 450px;
}
.grid-640 {
    width:610px;
}

/* Table */
.table {
    border:1px solid #988982;
    margin:1em 0;
}
.table td, .table th {
    padding:0.5em 1em;
    line-height:1.5em;
}
.table th {
    background:#988982;
    color:#FFF;
}
.table tr {
    border-bottom:1px dotted #c2b9b5;
}

.entry img {
    max-width:100%;
    height:auto;
}

.entry p {
    margin:1em 0;
}
.alignleft {
    float:left;
}
img.alignleft {
    margin:0 1em 1em 0;
}